@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');


:root {
    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);
    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);  
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
   /*  border: 1px solid black; */
    width: 100%;
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
}

@media only screen and (max-width: 500px) {
    
    body {
        background: url("/images/bg-pattern-top-mobile.svg") fixed left top no-repeat, url("/images/bg-pattern-bottom-mobile.svg") fixed right bottom no-repeat;
        overflow-x: hidden;
    }
    .section1 {
        /* border: 1px solid black; */
        color: var(--VeryDarkMagenta);
        text-align: center;
        margin-top: 2em;
    }
    .section2 {
        /* border: 1px solid black; */
        margin-top: 1em;
    }
    .section2-ratings {
        /* border: 1px solid black; */
        border-radius: 5px;
        text-align: center;
        color: var(--VeryDarkMagenta);
        font-weight: 700;
        padding: 0.3em;
        margin-top: 0.6em;
        line-height: 1;
        background-color: var(--LightGrayishMagenta);
    }
    .section3 {
        /* border: 1px solid black; */
        margin-top: 2em;
    }
    .reviews {
        border: 1px solid black;
        background-color: var(--VeryDarkMagenta);
        color: var(--LightGrayishMagenta);
        margin-top: 0.8em;
        border-radius: 5px;
        padding: 10px 25px;
        line-height: 1.3;
        height: 13em;
    }
    .reviews img {
        border-radius: 50%;
        width: 35px;
    }
    .h4 {
        position: relative;
        top: -2.7em;
        left: 3.5em;
    }
    .buyer {
        font-weight: 100;
        color: var(--SoftPink);
    }
    .reviews blockquote {
        position: relative;
        top: -2em;

    }
}

@media only screen and (min-width: 500px) {

    body {
        background: url("/images/bg-pattern-top-desktop.svg") fixed left top no-repeat, url("/images/bg-pattern-bottom-desktop.svg") fixed right bottom no-repeat;
        overflow: hidden;
    }
    main {
        /* border: 1px solid black; */
        width: 70%;
        margin: 3em 0 0 15em;
        height: 100vh;
        max-height: 550px;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          ". ."
          " . "; 
    }
    .section1 {
        /* border: 1px solid black; */
        height: 14em;
        color: var(--VeryDarkMagenta);
        margin: 2em 0 0 3em;
        width: 40%;
        line-height: 1;
        padding: 20px;
    }
    .part-one::after {
        content: "\a";
        white-space: pre;
    }
    .section1 p {
        color: var(--DarkGrayishMagenta);
        font-size: 13px;
        font-weight: 400;
        padding-top: 20px;
        line-height: 1.3;
    }
    .section2 {
        /* border: 1px solid black; */
        position: relative;
        top: 2em;
        right: 25em;
        width: 26rem;
        height: 13em;
        padding: 15px;
    }
    .section2-ratings {
        /* border: 1px solid black; */
        margin-top: 1em;
        border-radius: 5px;
        color: var(--VeryDarkMagenta);
        font-weight: 700;
        font-size: 13px;
        padding: 10px 10px 0 10px;
        width: 80%;
        height: 3em;
        background-color: var(--LightGrayishMagenta);

    }
    .section2-ratings p {
        position: relative;
        top: -1em;
        left: 9em;
    }
    .second {
        position: relative;
        left: 8%;
    }
    .third {
        position: relative;
        left: 16%; 
    }
    .section3 {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: row;
        width: auto;
        height: 15em;
        margin: 0 0 2em 2em;

    }
    .reviews {
        /* border: 1px solid black; */
        background-color: var(--VeryDarkMagenta);
        color: var(--LightGrayishMagenta);
        border-radius: 6px;
        padding: 20px 25px;
        line-height: 1.3;
        height: 12em;
        width: 17em;
         margin-left: 1.5em;

    }
    .reviews img {
        border-radius: 50%;
        width: 35px;
    }
    .h4 {
        position: relative;
        top: -2.7em;
        left: 3.5em;
    }
    .buyer {
        font-weight: 100;
        color: var(--SoftPink);
    }
    .reviews blockquote {
        font-size: 12px;
        padding-top: 1em;
        position: relative;
        top: -2em;
    } 
    .two {
        position: relative;
        top: 6%;
    }
    .three {
        position: relative;
        top: 12%;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
